@import "_notosans.less";
@font-family-base: 'Noto Sans KR', sans-serif;
@headings-font-family: @font-family-base;
body {
  font-family: @font-family-base;
}
h1, h2, h3, h4, h5, h6 {
    font-family: @headings-font-family;
}
h1 {
    color: #bb5;
}
.fa.fa-male {
    color: #00f;
}
.fa.fa-female {
    color: #f00;
}
footer.page-footer {
    border-top: 1px solid #eee;
    color: #767676;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}
